---
import Layout from '../layouts/Layout.astro';
import Content from '../components/Content';
import Sidebar from '../components/Sidebar.astro';

const history: string[] = [];
const addHistory = (item: string) => {
	history.push(item);
};
---
<Layout title="RegExp AI generator 🤖">
	<div class="w-container">
		<div class="app">
			<Sidebar history={history} />
			<Content client:idle="solid-js" addHistoryCallback={addHistory}:>
		</div>
	</div>
</Layout>
<script>
	// Find our component DOM on the page.
	const buttons = document.querySelectorAll('[data-confetti-button]');
  
	// Add event listeners to fire confetti when a button is clicked.
	buttons.forEach((button) => {
	  button.addEventListener('click', () => confetti());
	});
  </script>

<style>
.app {
	flex: 1;
	min-height: 0;
	display: flex;
	align-items: stretch;
}
.w-container {
	height: 100%;
	display: flex;
	flex-flow: column;
	overflow: hidden;
}
</style>