h1,h2 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}


.main {
  flex: 1;
  min-height: 0;
  display: flex;
  align-items: stretch;
  overflow: hidden;
}
.content {
  flex: 8 800px;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  .editor {
    .cm-focused {
      outline: none;
    }
    position: relative;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    width: 100%;
    padding: .5rem 1rem .5rem;
    overflow: hidden;
    .ͼ4 .cm-line {
      padding-left: 0px;
    }
  }
}
.generator  {
  flex: 0 8.25rem;
  header {
    display: none;
  }
  .editor {
    padding-bottom: 0;
  }
}
.expression {
  flex-direction: row;
  border: 1px solid rgb(9, 116, 220);
  .editor {
    
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    border-left: 0.5px solid rgb(9, 116, 220);
    .cm-scroller {
      align-items: center !important;
    }
  }
  background: rgb(255,255,255);

  header {
    display: flex;
    background:rgb(255,255,255);
    align-items: center;
    padding: 0;
  }
  button {
    padding: 0 1rem;  
    .generate--text {
      align-items: center;
      display: flex;
      justify-content: center;
      white-space: nowrap;
      height: 100%;
    }
    .play-icon {
      width: 24px;
      fill:none;
      stroke:rgb(292,104,147);
      stroke-miterlimit:10;
      stroke-width:48px;
    }

    font-size: 14px;
    border-radius: 0;
    box-shadow: none;
    flex: 1 1 auto;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    white-space: nowrap;
  }
  padding: 0;
  flex: 0 2.5rem;
}
section {
  background: rgb(255,255,255);;
  color: rgb(128,130,138);
  flex: 1 1 0%;
  min-height: 0;
  transition: flex .2s ease-out;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  header {
    color: rgb(230,244,251);
    background: rgb(7,69,126);
    align-items: center;
    display: flex;
    position: relative;
    padding: 0 1rem 0 1rem;
    flex: 0 2.5rem;
    h1  {
      flex: 1;
      font-size: 1rem;
      font-weight: 500;
      margin: 0;
      // margin-block-start: 0.83em;
      // margin-block-end: 0.83em;
    }
  }
}
.matches {
  .cm-editor {
    color: #101112;
    font-family: "Source Code Pro",monospace;
    background: 0 0;
    box-sizing: border-box;
    overflow: hidden;
  }
}

.Visualization {
    padding: 0 1rem 0 1rem;
    width: 100%;
    height: 100%;
    overflow: auto;
    svg {
      //transform: scale(0.8);
      /*margin-top: 20px;*/
    }
    svg > defs + rect {
      fill: transparent;
      stroke: transparent;
    }
    svg text[text-anchor="start"] {
      visibility: hidden;
    }
    svg circle[fill="#52c41a"] {
      fill: currentColor;
      color: #335c63;
    }
    svg rect[fill="#d3adf7"] {
      fill: currentColor;
      color: orange;
      stroke: #cdcfcf;
    }
    svg rect[fill="#bae7ff"] {
      fill: currentColor;
      color: #ffff57;
      stroke: #cdcfcf;
    }
    svg text[font-size="16px"] {
      font-size: 9px !important;
    }
    svg text[font-size="14px"] {
      font-size: 10px !important;
    }
  
    svg rect[fill="#7cb305"] {
      fill: currentColor;
      color: #fcf3d7;
      stroke: #cdcfcf;
    }
    text {
      font-family: Roboto-Mono, sans-serif !important;
    }
    svg path [stroke="#00474f"] {
      stroke: red !important;
    }
    svg path {
      stroke: #cdcfcf;
    }
    //svg path[fill="#391085"] {
    //  fill: currentColor;
    //  color: red;
    //}
    svg circle[fill="#597ef7"] {
      fill: currentColor;
      color: #ef3437;
    }
    svg rect[fill="#ffc0cb"] {
      fill: currentColor;
      color: red;
    }
  }
